name: Pre Merge

on:
  workflow_dispatch:
    branches-ignore:
      - 'dependabot/**'

    inputs:
      expected_release_tag:
        description: Expected release tag
        required: true
        type: string

jobs:
  Pre_Merge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setting up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Sanity testing of the action
        id: generate_release_tag
        uses: ./
        with:
          tag_prefix: 'v'
          tag_template: 'yy.mm.i'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Print output
        run: |
          echo "Expected output: ${{ inputs.expected_release_tag }}"
          echo "Actual output: ${{ steps.generate_release_tag.outputs.next_release_tag }}"

      - name: Fail if mismatch
        if: ${{ inputs.expected_release_tag != steps.generate_release_tag.outputs.next_release_tag }}
        uses: actions/github-script@v6
        with:
          script: |
            core.setFailed('Actual and expected output doesnt match')

      - name: Add status check
        uses: LouisBrunner/checks-action@v1.6.2
        if: always()
        with:
          sha: ${{ github.sha }}
          token: ${{ github.token }}
          name: Pre Merge Check
          conclusion: ${{ job.status }}
